spring:
  application.name: bills-test
  datasource:
    url: jdbc:postgresql://localhost:5432/bills-db
    username: admin
    password: admin12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB